.nav-link {
    color: black !important
}

.nav-link.active {
    color: blue !important;
}

.imgs {
    object-fit: cover;
    height: 350px;
    width: 375px;
}

.img {
    object-fit: cover;
    height: 350px;
    width: 375px !important;
}
.feed  {
    width: 600px !important
}